* {
    red: #F44336;
    redhover: #D32F2F;
    redpressed: #C62828;
    blue: #2196F3;
    bluehover: #1976D2;
    bluepressed: #1565C0;

    black: #000000;
    whitehover: #E0E0E0;
    whitepressed: #BDBDBD;
    grey: #9E9E9E;
    white: #ffffff;
}
#cudgel_button_disable, #cudgel_button_none, #cudgel_button_enable, #settings_button {
    -fx-background-radius: 5em;
    -fx-effect: dropshadow(three-pass-box, black, 3, 0, 0, 0);
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
}

#cudgel_button_disable {
    -fx-background-image: url("../res/cudgel/mic_off_m.png");
    -fx-background-size: 24px;
    -fx-background-color: grey;
}
#cudgel_button_none {
    -fx-background-image: url("../res/cudgel/mic_none_m.png");
    -fx-background-size: 36px;
    -fx-background-color: white;
}
#cudgel_button_enable {
    -fx-background-image: url("../res/cudgel/mic_m.png");
    -fx-background-size: 36px;
    -fx-background-color: red;
}
#cudgel_button_none:hover
{
    -fx-background-color: whitehover;
}
#cudgel_button_none:pressed
{
    -fx-background-color: whitepressed;
}
#cudgel_button_enable:hover
{
    -fx-background-color: redhover;
}
#cudgel_button_enable:pressed
{
    -fx-background-color: redpressed;
}

#settings_button {
    -fx-background-image: url("../res/cudgel/sttngs_m.png");
    -fx-background-size: 24px;
    -fx-background-color: grey;
}
#settings_button:hover
{
    -fx-background-color: bluehover;
}
#settings_button:pressed
{
    -fx-background-color: bluepressed;
}

#recognition_label {
    -fx-effect: dropshadow(gaussian, black, 10, 0, 0, 0);
    -fx-font-weight: bold;
    -fx-font-size: 24px;
    -fx-text-fill: white;
}
