* {
    red: #F44336;
    redhover: #D32F2F;
    redpressed: #C62828;
    blue: #2196F3;
    bluehover: #1976D2;
    bluepressed: #1565C0;

    black: #000000;
    blackhover: #222222;
    blackpressed: #444444;
    grey: #9E9E9E;
    white: #ffffff;
    whitehover: #E0E0E0;
    whitepressed: #BDBDBD;
}
#play_button, #pause_button {
    -fx-background-radius: 5em;
    -fx-effect: dropshadow(three-pass-box, black, 3, 0, 0, 0);
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
}

#play_button {
    -fx-background-image: url("../../res/media/musicplayer/play_black.png");
    -fx-background-size: 36px;
    -fx-background-color: white;
}
#play_button:hover
{
    -fx-background-color: whitehover;
}
#play_button:pressed
{
    -fx-background-color: whitepressed;
}

#pause_button {
    -fx-background-image: url("../../res/media/musicplayer/pause_white.png");
    -fx-background-size: 36px;
    -fx-background-color: black;
}
#pause_button:hover
{
    -fx-background-color: blackhover;
}
#pause_button:pressed
{
    -fx-background-color: blackpressed;
}

#file_name_label {
    -fx-effect: dropshadow(gaussian, black, 10, 0, 0, 0);
    -fx-font-weight: bold;
    -fx-font-size: 24px;
    -fx-text-fill: white;
}
